.app {
  position: relative;

  height: 100vh;

  padding: 10px;
}

#slide-box {
  
  display: flex;
  flex-direction: column;

  height: 100%;

  overflow: auto scroll;

  gap: 20px;

  .slide-li {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
    & > * {
      flex-shrink: 0;
    }
  }
}