.app {

  position: relative;

  padding: 10px;
}


#slide-box {
  
  display: flex;
  flex-direction: column;

  gap: 20px;

  .slide-li {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
  
    & > * {
      flex-shrink: 0;
    }
  }
}

.footer {


  position: fixed;
  bottom: 10px;
  right: 10px;

  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 5px;

  z-index: 3;


  .menu-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 5px;

    button {
      width: 50px;
      height: 50px;
      font-size: 20px;

      border: none;
      border-radius: 10px;
      cursor: pointer;
      transition: all 0.2s ease;

      display: inline-flex;
      justify-content: center;
      align-items: center;

      background-color: #f1f3f5;
      /* background-position: center;
      background-repeat: no-repeat;
      background-size: auto; */

      
      color: #495057;

      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);


      transition: all .2s ease;

      position: relative;

      .icon-background {

        width: 100%;
        height: 100%;

        background-color: currentColor;
        color: inherit;

        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: auto;
        mask-size: auto;
        -webkit-mask-position: center;
        mask-position: center;
      }

      & + div {
        border-radius: 5px;

        color: #212529;
        padding: 2px;
        background-color: #fff;

        transition: all .2s ease;

        user-select: none;
      }

      svg {
        transition: all .2s ease;
      }

      &:hover {
        transform: translateY(-3px);
        background-color: #fee2e2;
        color: #d83a27;

        & + div {
          color: #d83a27;
        }

        svg {
          transform: rotate(10deg);
        }
      }

      &:active {
        transform: translateY(0);
        background-color: #fecaca;
        color: #b91c1c;

        & + div {
          color: #b91c1c;
        }
      }
    }
  }


}