.editor-inputs-box {

  width: 100%;
  display: flex;
  flex-direction: column;

  gap: 10px;

  .input-editors {
    display: flex;
    width: 100%;

    justify-content: space-between;

    padding: 0 5px;

    font-size: 15px;

    user-select: none;

    .input-editor {
      display: flex;
      align-items: center;
      gap: 5px;

      .input-editor-label {
        color: var(--color-black);
        font-size: inherit;
      }

      input[type="color"] {
        width: 30px;
        height: 30px;
      }
      input[type="range"] {
        width: 70px;
        height: 30px;
      }
      input[type="number"] {
        width: 50px;
        height: 30px;
      }
    }
  }
}

.text-inputs {

  width: 600px;
  height: 337px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  input, textarea {
    width: 100%;

    font-size: 40px;
    line-height: 1.4;
    text-align: center;
    color: var(--color-black);

    background-color: #0000;

    border: none;

    outline: none;
    resize: none;
    transition: all 0.2s ease;
  }

  input {
    padding: 12px;
  }

  textarea {
    height: 100%;
    font-size: 33px;
  }
}

.background-change-button {
  width: 100%;
  height: 30px;

  font-size: 15px;

  cursor: pointer;

  color: var(--color-dark-gray);

  border: 1.5px solid var(--color-cool-light-gray);
  border-radius: 8px;

  background-color: var(--color-cool-white);

  transition: all 0.2s ease;

  &:hover {
    transform: translateY(-1px);
    background-color: var(--color-cool-light-gray);
  }

  &:active {
    transform: translateY(0);
  }

  span {

    font-size: 18px;

    &.highlight {
      font-size: 20px;
      color: var(--color-red);
      text-decoration: underline var(--color-dark-red) 2px;
      text-underline-offset: 3px;
    }
  }
}